.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../assets/career.jpg') center center / cover no-repeat;
}

.home-card {
  background: white;
  padding: 3rem;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.home-title {
  font-size: 2.5rem;
  color: #545557;
  margin-bottom: 1.5rem;
}

.home-button {
  width: 20%;
  padding: 1rem;
  background: #000000;
  color: white;
  border: none;
  font-size: 1.1rem;
  border-radius: 12px;
  cursor: pointer;
}

.home-button:hover {
  background: #303131;
}
